#
VIPER + DI.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
VIPER + DI.xcodeproj/project.xcworkspace/xcuserdata/georg.xcuserdatad/UserInterfaceState.xcuserstate
VIPER + DI.xcodeproj/project.xcworkspace/contents.xcworkspacedata
VIPER + DI.xcodeproj/xcuserdata/georg.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
VIPER + DI.xcodeproj/xcuserdata/georg.xcuserdatad/xcschemes/xcschememanagement.plist
